{% extends "page.html" %}
{% block stylesheet %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
{% endblock %}
{% block main %}

<div class = "container">
  <section class="section">
    <h1 class="title">AIMMDB</h1>
    <h2 class="subtitle">
      AIMMDB is a data access and search tool for multimodal scientific data built on top of [tiled](https://github.com/bluesky/tiled).
      Currently aimmdb is focused on xray absorption spectroscopy (XAS) data.
    </h2>
  </section>

  <section class="section">
    <h1 class="title">Funding Acknowledgement</h1>
    <p class="box">
      This research is based upon work supported by the U.S. Department of Energy, Office of Science, Office Basic Energy Sciences, under Award Number FWP PS-030. This research used resources of the Center for Functional Nanomaterials (CFN), which is a U.S. Department of Energy Office of Science User Facility, at Brookhaven National Laboratory under Contract No. DE-SC0012704.
    </a>

</div>

<div>
  <section class="section">
    <h1 class="title">Usage</h1>
    <h2 class="subtitle">
      The database can be browsed by navigating to the
      <a href="{{ root_url }}/browse.html" target="_blank" rel="noreferrer">
          Try it
      </a>
       page. This page allows you to nagivate datasets.
</div>
{% endblock %}